# Ignore everything recursively in host/
host/**

# Only allow these exact files (not their folders)
!host/non-password-protected/nirsoft_package_enc_1.30.19.zip
!host/password-protected/nirsoft_package_enc_1.30.19.zip
