# Ignore everything under host/
host/**

# Un-ignore only the two specific ZIP files
!host/non-password-protected/nirsoft_package_enc_1.30.19.zip
!host/password-protected/nirsoft_package_enc_1.30.19.zip
